* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.baseWrap{
  width: 1920px;
  background-color: #c8edfd;
  background-image: url(./bg_spring-homepage.png);
}
#wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* header */
.header {
  width: 100vw;
  height: 70px;
  background:#c8edfd;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.logo {
  width: 115px;
  height: 50px;
  margin-left: 10%;
  background-image: url(./로고\(완\).png);
  background-size: cover;
  background-position: center;
}
.menu {
  width: 500px;
  height: 50px;
  right: 6%;
  position: absolute;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.menu ul li {
  margin: 0 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
}
.menu ul li a {
  text-decoration: none;
  color: white;
}

/* body */
.body {
  width: 1200px;
  margin: 0 auto;
  height: 1100px;
  position: relative;
  padding-top: 100px;
}
.titleWrap {
  width: 300px;
  height: 50px;
  padding: 5px;
  margin: 30px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 black;
}
.title {
  /*습득물 등록 제목*/
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.inputBoxWrap {
  /*내용물들이 들어가는 박스*/
  padding: 40px;
  height: 550px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.what {
  /* input text 박스 제목 */
  font-size: 16px;
  width: 150px;
  text-align: center;
  font-weight: 500;
}
.textBox {
  /* input text */
  flex: 2;
  box-sizing: border-box;
  font-size: 16px;
}
.inputBox select {
  flex: 1;
  font-size: 16px;
}
#soulMenu {
  display: none;
}
#daejeonMenu {
  display: none;
}
#inchonMenu {
  display: none;
}
#jejuMenu {
  display: none;
}
#busanMenu {
  display: none;
}
#inchonMenu {
  display: none;
}
.categoryWrap {
  height: 180px;
  width: 100%;
  position: relative;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.categoryWrap div {
  flex: 1;
  display: flex;
  gap: 5px;
}
.categoryWrap div input {
  flex: 1;
}
[type="checkbox"] {
  padding-top: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center;
  appearance: none;
  border: 1px solid black;
}
[type="checkbox"]:checked {
  background-color: #306cd0;
  color: white;
}
.categoryLine1 input:nth-child(1):before {
  content: "전자기기";
}
.categoryLine1 input:nth-child(2):before {
  content: "생활잡화";
}
.categoryLine1 input:nth-child(3):before {
  content: "귀중품";
}
.categoryLine1 input:nth-child(4):before {
  content: "의류";
}
.categoryLine2 input:nth-child(1):before {
  content: "핸드폰";
}
.categoryLine2 input:nth-child(2):before {
  content: "지갑";
}
.categoryLine2 input:nth-child(3):before {
  content: "가방";
}
.categoryLine2 input:nth-child(4):before {
  content: "기타";
}

[type="checkbox"]:hover {
  transition: all 0.3s;
  background-color: #467cda;
  color: white;
}
[type="checkbox"]:checked:hover {
  transition: all 0.3s;
  background-color: #164fb1;
  color: white;
}
.buttonWrap {
  /* 입력완료버튼 을 넣어둔 상자 */
  height: 60px;
  width: 400px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 black;
  border-radius: 8px;
}
.buttonWrap button {
  /*입력완료버튼*/
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 8px;
  background-color: #306cd0;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* footer*/
.footer {
  height: 100px;
  width: 1920px;
  background-color: #c8edfd;
  position: relative;
  display: flex;
  padding-top: 30px;
  gap: 200px
  ;
}
.footerLogo{
    flex: 1;
  position: relative;
} 
.footerText{
  flex: 1;
  position: relative;
}
.footerLogo div{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 115px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-image: url(./로고\(완\).png);
}
.footerText div{
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  align-items: center;
}
  
