*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f4f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* 메인 박스 */
.wrap {
    width: 600px;
    background: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}
.wrap h2{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

hr{
    margin: 15px 0;
    border: none;
    border-top: 2px solid #b4b4b4;
}
.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.input-field input ,
.input-field select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1.5px solid #b4b4b4;
    font-size: 14px;
    background: #fff;
    transition: 0.3s;
}

button {
    width: 100%;
    padding: 14px;
    background: #4374D9;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #315ec7;
}
.notice {
    margin-top: 15px;
    font-size: 12px;
    color: #666;
    line-height: 1.6;
    text-align: center;
}