*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
/*---header 영역---*/
.header{
   width: 100%;
   height: 70px;
   background: #c8edfd;
   display: flex;
   align-items: center;
   position: relative;
}

.logo{
   width: 150px;
   height: 50px;
   margin-left: 193px; 
}
.logo img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.menu{
   width: 600px;
   height: 50px;
   background: #c8edfd;
   right: 100px;
   position: absolute;
   display: flex;
   align-items: center;
   
}
.menu ul{
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}
.menu ul li{
   margin: 0 10px;
   color: white;
   font-weight: bold;
   cursor: pointer;
   padding: 10px 20px;
}
.menu ul li a{
   text-decoration: none;
   color: #495057;
}

/*---- body 영역 ----*/
body{
   background: #c8edfd;  
   background-image: url('https://troov.com/images/back-to-school/bg_spring-homepage.png');       

   /* display: flex;
   justify-content: center;
   align-items: center;
    height: 100vh; */
}
.wrap {
   width: 600px;
   background: #ffffff;
   padding: 40px;
   border-radius: 16px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
   margin: 150px auto;
}
.wrap h2{
   text-align: center;
   margin-bottom: 30px;
   color: #333;
}

hr{
   margin: 15px 0;
   border: none;
   border-top: 2px solid #b4b4b4;
}
.input-field {
   margin-bottom: 20px;
}

.input-field label {
   display: block;
   margin-bottom: 10px;
   font-weight: 600;
   font-size: 14px;
   color: #333;
}

.input-field input ,
.input-field select {
   width: 100%;
   padding: 12px;
   border-radius: 8px;
   border: 1.5px solid #b4b4b4;
   font-size: 14px;
   background: #fff;
   transition: 0.3s;
}

button {
   width: 100%;
   padding: 14px;
   background: #4374D9;
   color: white;
   border: none;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
   transition: 0.3s;
}
button:hover {
   background: #315ec7;
}
.notice {
   margin-top: 15px;
   font-size: 12px;
   color: #666;
   line-height: 1.6;
   text-align: center;
}
/*---- footer 영역 ----*/
.footer{
   height: 100px;
   width: 100%;
   background-color: #c8edfd;
}
.footerBox {
   width: 1100px;
   height: 100%;
   margin: 0 auto;
   display: flex;
   padding: 30px 0;
   position: relative;
}
.footerLogo {
   flex: 1;
   position: relative;
}
.footerText {
   flex: 1;
   position: relative;
   display: flex;
   flex-direction: column;
}
.footerLogo div {
   position: absolute;
   left: 0;
   top: 0px;
   width: 115px;
   height: 50px;
   background-size: cover;
   background-position: center;
   background-image: url(./사진폴더/team4\ 분실물관리\ 로고.png);
}
.footerText div {
   flex: 1;
   font-size: 16px;
   text-align: right;
   font-weight: 500;
   align-items: center;
}